---
http_interactions:
- request:
    method: post
    uri: https://api.tubemogul.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - clipped
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account_id":123456,"token":"some-token","scope":"login_mode:self","token_type":"bearer","expire_time":1539983299,"expires_in":3600}'
  recorded_at: Fri, 19 Oct 2018 20:08:19 GMT
- request:
    method: get
    uri: https://api.tubemogul.com/v3/trafficking/campaigns/sample-campaign-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - clipped
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@uri":"https://api.tubemogul.com/v3/trafficking/campaigns/sample-campaign-id","campaign_id":"sample-campaign-id","campaign_key":"keysample-campaign-id","advertiser_id":1,"campaign_name":"Campaign
        sample-campaign-id","budget_cap":{"metric":"total_fees","interval":"flight","amount":1,"enforce_as_cap":"t","opt_metric":null},"other_caps":[],"timezone_id":"Europe/Lisbon","timezone_use_dst":"T","customer_order_number":null,"start_time":"2018-01-04","end_time":"2018-01-04","third_party_services":null,"frequency_cap":"0","frequency_cap_interval":"day","status":"Active","account_id":123456,"is_managed":"F","is_managed_service":"F","nielsen_activated":"F","parent_campaign_id":null,"fee":null,"margin_type":null,"vendors":[{"vendor_id":"2","vendor_name":"MRC"}],"gender":"Both","start_age":"13","end_age":"999","ethnicity":"all","adobe_booster":"F","geos":"US"}'
  recorded_at: Fri, 19 Oct 2018 20:08:20 GMT
recorded_with: VCR 4.0.0
