---
http_interactions:
- request:
    method: post
    uri: https://api.tubemogul.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - clipped
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account_id":123456,"token":"some-token","scope":"login_mode:self","token_type":"bearer","expire_time":1539983302,"expires_in":3600}'
  recorded_at: Fri, 19 Oct 2018 20:08:22 GMT
- request:
    method: get
    uri: https://api.tubemogul.com/v3/trafficking/campaigns/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - clipped
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Uid:
      - 1668df172ed7871489dea
      Error-Msg:
      - The campaign with id 999999 not found.
    body:
      encoding: UTF-8
      string: '{"@url":"https://placeholder/10011000001","@type":"error","uid":"1668df172ed7871489dea","status":404,"error_code":"TFK-PD-10011000001","description":"The
        campaign with id 999999 not found.","parameters":{"object_id":"999999","object_type":"campaign"}}'
  recorded_at: Fri, 19 Oct 2018 20:08:23 GMT
recorded_with: VCR 4.0.0
