---
http_interactions:
- request:
    method: post
    uri: https://api.tubemogul.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - clipped
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account_id":12345,"token":"some-token","scope":"login_mode:self","token_type":"bearer","expire_time":1539815112,"expires_in":3600}'
  recorded_at: Wed, 17 Oct 2018 21:25:12 GMT
- request:
    method: get
    uri: https://api.tubemogul.com/v3/trafficking/advertisers/sample-advertiser-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - clipped
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@uri":"https://api.tubemogul.com/v3/trafficking/advertisers/sample-advertiser-id","@type":"Advertiser","advertiser_id":"sample-advertiser-id","account_id":"12345","advertiser_name":"Advertiser
        sample-advertiser-id","advertiser_domain":"https://sample-advertiser-id.example.com","product_category_id":"704","is_exempt_ad_swap":"F","status":"Active","ims_org_id":null,"aam_setup":"F","aam_import_all_segments":"F","amo_client":null,"reportsuite_ids":[]}'
  recorded_at: Wed, 17 Oct 2018 21:25:13 GMT
recorded_with: VCR 4.0.0
