---
http_interactions:
- request:
    method: post
    uri: https://api.tubemogul.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - clipped
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account_id":12345,"token":"some-token","scope":"login_mode:self","token_type":"bearer","expire_time":1539815113,"expires_in":3600}'
  recorded_at: Wed, 17 Oct 2018 21:25:13 GMT
- request:
    method: get
    uri: https://api.tubemogul.com/v3/trafficking/advertisers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - clipped
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@uri":"https://api.tubemogul.com/v3/trafficking/advertisers/?limit=50&offset=0","@type":"Collection","paging":{"total_num_items":8,"limit":50,"offset":0,"num_items":8,"has_more_items":false},"items":[{"@uri":"https://api.tubemogul.com/v3/trafficking/advertisers/1","@type":"Advertiser","advertiser_id":1,"account_id":"12345","advertiser_name":"Advertiser
        1","advertiser_domain":"https://1.example.com","product_category_id":"704","is_exempt_ad_swap":"F","status":"Active","ims_org_id":null,"aam_setup":"F","aam_import_all_segments":"F","amo_client":null,"reportsuite_ids":[]},{"@uri":"https://api.tubemogul.com/v3/trafficking/advertisers/2","@type":"Advertiser","advertiser_id":2,"account_id":"12345","advertiser_name":"Advertiser
        2","advertiser_domain":"https://2.example.com","product_category_id":"325","is_exempt_ad_swap":"F","status":"Active","ims_org_id":null,"aam_setup":"F","aam_import_all_segments":"F","amo_client":null,"reportsuite_ids":[]},{"@uri":"https://api.tubemogul.com/v3/trafficking/advertisers/3","@type":"Advertiser","advertiser_id":3,"account[...]
